h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

button {
  padding: 0px;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: normal;
}
