$primary-color: #ffffff;
$secondary-color: #000000;

// цвета для текста
$primary-text-color: #ca0000;
$secondary-text-color: #324453;
// акцентные цвета

// цвета для фона
$primary-background-color: #acc8de;

// переменная для переходов
$transition: 300ms linear;
// transition: color  $transition;
