<div class="container">
    <div class="test">
        <ul class="test__list">
            <li class="test__item"><a class="test__link" href="#hero">Головна</a></li>
            <li class="test__item"><a class="test__link" href="#why_we">Чому ми</a></li>
            <li class="test__item"><a class="test__link" href="#catalog">Каталог</a></li>
            <li class="test__item"><a class="test__link" href="#how_we_work">Як ми працюємо</a></li>
            <li class="test__item"><a class="test__link" href="#reviews">Відгуки</a></li>

        </ul>
    </div>
</div>
<a class="test__link" href="./portfolio.html"></a>
<!-- <ul class="navi"> -->
    <!-- <li class="test__ite"><a class="test__link" href="./portfolio.html"></a></li> -->
    <!-- <li class="test__link"><a class="link" href="#hero">Головна</a></li>
    <li class="nav_item list"><a class="link" href="#why_we">Чому ми</a></li>
    <li class="nav_item list"><a class="link" href="#catalog">Каталог</a></li>
    <li class="nav_item list"><a class="link" href="#how_we_work">Як ми працюємо</a></li> -->
    <!-- <li class="nav_item list"><a class="link" href="#reviews">Відгуки</a></li> -->
<!-- </ul> -->