<div class="container">
    <div class="test">
        <ul class="test__list">
            <li class="test__item">
                <a class="test__link" href="./index.html">Главная</a>
            </li>
            <li class="test__item">
                <a class="test__link" href="./portfolio.html">Портфолио</a>
            </li>
        </ul>
    </div>
</div>
<ul class="navi">
    <li class="nav_item list"><a class="link" href="#hero">Головна</a></li>
    <li class="nav_item list"><a class="link" href="#why_we">Чому ми</a></li>
    <li class="nav_item list"><a class="link" href="#catalog">Каталог</a></li>
    <li class="nav_item list"><a class="link" href="#how_we_work">Як ми працюємо</a></li>
    <li class="nav_item list"><a class="link" href="#reviews">Відгуки</a></li>
</ul>