.test {
  padding: 30px;
}

.test__item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 60px;
  border: 2px solid salmon;
  border-radius: 5px;

  margin-bottom: 15px;
}
